
<div class="container mt-5">
    <div class="card text-center" *ngIf="!tablaexcel">
        <div class="card-header">
          Lector Excel
        </div>
        <div class="card-body">
          <h5 class="card-title">Añade tu archivo excel</h5>
          <div class="container">
            <input type="file" class="btn btn-primary" (change)="onFileChange($event)" multiple="false">
          </div>
          
        </div>
        <div class="card-footer text-muted">
          
        </div>
      </div>

     <div class="container" *ngIf="cargando">
        <div class="d-flex align-items-center">
            <strong>Leyendo Documento Excel, espere unos segundos...</strong>
            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
          </div>
     </div> 
  
</div>
<div class="container-fluid" *ngIf="tablaexcel" id="element">
    <table class="table">
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let cell of row">
                {{cell}}
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <hr>
  <div class="container d-flex justify-content-center">
    <button class="btn btn-primary"  *ngIf="tablaexcel" (click)="download()">Descargar CSV</button>
  </div>
