<div class="container">
    <h1 class="text-center mb-5 mt-4">Que Tipo de CSV deseas Crear?</h1>
    
    <div class="card-deck mt-4">
        <div class="card animate__animated animate__fadeInDown">
          <img src="../../../assets/img/productos.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CSV PRODUCTOS</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            
          </div>
          <a class="btn btn-dark" routerLink="/csvproductos">COMENZAR</a>
        
        </div>
        <div class="card animate__animated animate__fadeInDown">
          <img src="../../../assets/img/precios.png " class="card-img-top" height="232" alt="...">
          <div class="card-body">
            <h5 class="card-title">CSV ADVANCED PRICING</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
         
          </div>
          <button class="btn btn-dark">Crear</button>
        </div>
        <div class="card animate__animated animate__fadeInDown">
          <img src="../../../assets/img/comprador.png" class="card-img-top" height="232" alt="...">
          <div class="card-body">
            <h5 class="card-title">CSV CUSTOMER</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            
          </div>
          <button class="btn btn-dark">Crear</button>
        </div>
      </div>
</div>

<div class="container">
  <div class="lectorExcel">
      <h1>Tienes un Documento Excel Listo?</h1>
      <button class="btn btn-dark ml-2" routerLink="/lectorexcel"> Click Aqui</button>
  </div>
 
</div>
<section class="container mt-5">
    <h1 class="text-center mt-5">Como Funciona</h1>
    <div class="accordion" id="accordionExample">
        <div class="card ">
          <div class="card-header bg-dark" id="headingOne">
            <h2 class="mb-0">
              <button class="btn text-white btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Paso 1
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <h5>Elige que Tipo de CSV desea crear.</h5>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-dark" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Paso 2
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-dark "  id="headingThree">
            <h2 class="mb-0">
              <button class="btn text-white btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Paso 3
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
</section>